@charset "utf-8";

body {
  padding-top: 60px;
}

.container-fluid {
  max-width: 980px;
}

.hero-unit {
  background-image: url(../img/item/titleImage.png);
  background-color: white;
}

.ex-sidebar {
  float: left;
  width: 200px;
}

.ex-content {
  margin-left: 220px;
}

.row-fluid .span4mini {
  width: 29%;
}