@charset "utf-8";

.prev {
    float:left;
}

.next {
    float:right;
}

#steps {
    list-style:none;
    width:100%;
    overflow:hidden;
    margin:0px;
    padding:0px;
}

#steps li {
    font-size:24px;
    float:left;
    padding:10px;
    color:#b0b1b3;
}

#steps li span {
    font-size:11px;
    display:block;
}

#steps li.current {
    color:#000;
}