{namespace templates.footer}
/**
* footer.
*/
{template .footer}
<footer>
    <p>
        Copyright &copy;&nbsp;2011&nbsp;-&nbsp;2012&nbsp;<a href="http://twitter.com/#!/sinmetal">sinmetal</a>&nbsp;All&nbsp;rights&nbsp;reserved.
    </p>
</footer>
{/template}